.options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
}

.searchCriteria {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}


.searchCriteria input, .searchCriteria p  {
    display: inline-block;
}

.searchCriteria p{
    margin: 3px;
    font-size: 12px;
}


.sortButtons {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.sort {
    display: flex;
    align-content: center;
    flex-direction: column;
}

.sort p {
    text-align: center;
    font-size: 12px;
}

.minmaxButtons, .favButtons {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.wrapper {
    width: 100%;

    display: flex;
    flex-direction: column;

}

button {
    margin: 1px;
    padding: 7px;
    border-color: transparent;
    background: #000000;
    text-decoration: none;
    color: #ccc;
}


button:hover {
    color: #fff;
}

button:active {
    text-decoration: underline;
    color: #fff;

}


